$mainColor: #e2f3e8;
$textColor: #02A36D;
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

.ant-layout-sider-dark{
  background: white!important;
  color: black;
  width: 500px!important;

}
.ant-menu{
  background: white!important;

  .ant-menu-item-active{
    background:rgba(255, 255, 255, 0.5)!important;
  }
  .ant-menu-item-selected{
    background:$mainColor!important;
    color: $textColor!important;
  }
}


.ant-layout-header{
  background: white!important;
  color: $textColor!important;
  .ant-space-item{
    display: flex;
    align-items: center;

    .img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
      }
    }
  }
}
.modalAddNew{
  width: 90%!important;
  height: 900px!important;
  padding: 0;

  .ant-modal-content{

    height: 100%;
    .ant-modal-body{
      height: 90%;
      .ariza{
        width: 500px;
        height: 680px!important;
        margin-right: 30px;
        text-align: justify;
        font-family: "Gupter", serif !important;

        .date{
          margin-top: 30px!important;
        }
      }
    }

  }
}

.card-header{
  margin-bottom: 10px!important;
  border-radius: 5px!important;
  background-color: $mainColor!important;
  padding: 15px!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.fileListe{
  height: 300px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-bottom: 20px;
}

.COMMITTED{
  background-color: #ecaaaa;
}
.PROGRESS{
  background-color: rgba(243, 144, 74, 0.5);
}
.FINISHED{
  background-color: #8ee3ad;
}
