$mainColor: #e2f3e8;
$textColor: #02A36D;

.ant-layout-sider-dark{
  background: white!important;
  color: black;
}
.ant-menu{
  background: white!important;

  .ant-menu-item-active{
    background:rgba(255, 255, 255, 0.5)!important;
  }
  .ant-menu-item-selected{
    background:$mainColor!important;
    color: $textColor!important;
  }
}
.ant-layout-header{
  background: white!important;
  color: $textColor!important;
  .ant-space-item{
    display: flex;
    align-items: center;
  }
}
.modalAddNew{
  width: 90%!important;

  .ant-modal-content{

  }
}
