@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Exo:ital,wght@1,500&family=Josefin+Sans&display=swap');

$mainColor: #02A36D;
$mainFont: Josefin Sans;


* {
  padding: 0;
  margin: 0;

  a {
    text-decoration: none!important;
  }
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  background: linear-gradient( 120deg, rgb(255,255,255)-5%, #ffffff, rgba(2, 163, 109, 0.8));


  .navbar {
    .navbar-brand {
      img {
        width: 100px;
      }
    }

    .nav-link {
      font-family: $mainFont, sans-serif;
      font-size: 25px;
      font-weight: 600;
      //color: $mainColor;
    }
  }

  .righte {
    z-index: 1;

    .title {
      margin-top: 100px;
      font-family: $mainFont, sans-serif;
      font-size: 50px;
      font-weight: 700;
    }

    .text {
      margin-top: 30px;
      font-size: 20px;
    }

    a {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      padding: 10px 40px;
      border-radius: 5px 20px;
      background-color: $mainColor;
      color: white;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1.5px;
      transition: 0.2s linear;
    }
  }

  .gif {
    border-radius: 32%;
    background: none;
    margin-top: 100px;

  }
}



