@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Exo:ital,wght@1,500&family=Josefin+Sans&display=swap');

$mainColor: #02A36D;
$mainFont: Josefin Sans;


* {
  padding: 0;
  margin: 0;

  a {
    text-decoration: none !important;
  }
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  .lin {
    width: 970px;
    height: 970px;
    position: absolute;
    top: 35%;
    right: -18%;
    background-image: url("../img/Layer_3.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    animation: mymove 350s linear infinite;
  }

  @keyframes mymove {
    100% {
      transform: rotate(360deg);
    }
  }


  .navbar {
    .navbar-brand {
      display: flex;
      align-items: center;
      img {
        width: 100px;
        margin-right: 25px;
      }
      h2{
        font-family: $mainFont, sans-serif;
        font-size: 25px;
        font-weight: 600;
      }

    }
  }

  .righte {
    z-index: 1;
    margin-top: 100px;

    .title {
      line-height: 120%;
      font-family: $mainFont, sans-serif;
      font-size: 45px;
      font-weight: 700;
    }

    .text {
      font-family: $mainFont, sans-serif;
      margin-top: 30px;
      font-size: 25px;
    }
    .kirish{
      margin-top: 30px;
    }
  }
  .gif {
    border-radius: 32%;
    background: none;
    margin-top: 100px;
  }
}

@media (max-width: 1600px) {
  .home{
    .lin {
      width: 770px;
      height: 770px;
      top: 48%;
      right: -18%;
    }
  }

}

@media (max-width: 1400px) {
  .home {
    .righte {
      .title {
        font-size: 40px;
      }
    }

    .gif {
      margin-top: 50px;
    }
  }
}

@media (max-width: 1200px) {
  .home {
    .lin {
      width: 570px;
      height: 570px;

    }
    .navbar {
      .navbar-brand {
        img {
          width: 80px;
        }
      }

      .nav-link {
        font-size: 22px;
        font-weight: 600;
      }
    }

    .righte {
      margin-top: 80px;

      .title {
        font-size: 30px;
      }

      .text {

        margin-top: 20px;
        font-size: 18px;
      }
    }

    .gif {
      width: 400px;
      margin-top: 50px;

    }
  }
}

@media (max-width: 991px) {
  .home {
    background: linear-gradient(120deg, #ffffff, #ffffff, rgba(2, 163, 109, 0.8) 90%);

    .lin {
      width: 470px;
      height: 470px;

    }
    .navbar {
      .navbar-brand {
        img {
          width: 80px;
        }
      }

      .nav-link {
        font-size: 22px;
        font-weight: 600;
      }
    }

    .righte {
      margin-top: 30px;

      .title {
        font-size: 28px;
      }

      .text {
        margin-top: 20px;
        font-size: 14px;
      }
    }

    .gif {
      width: 280px;
    }
  }
}

@media (max-width: 767px) {
  .home {
    background: linear-gradient(to top, #ffffff, rgba(2, 163, 109, 0.8) 120%);
    .lin {
      width: 370px;
      height: 370px;
      top: 13%;
    }
    .navbar {
      .navbar-brand {
        img {
          width: 80px;
          margin-right: 10px;
        }
        h2{
          font-size: 20px;
        }
      }

      .nav-link {
        font-size: 18px;
        font-weight: 600;
      }
    }

    .righte {
      margin-top: 50px;

      .title {
        font-size: 28px;
      }

      .text {
        margin-top: 20px;
        font-size: 14px;
      }

      a {
        padding: 10px 20px;
        border-radius: 5px 15px;
        font-size: 14px;
      }
    }

    .gif {
      display: none;
    }

  }
}

@media (max-width: 440px) {
  .home {
    .lin {
      width: 270px;
      height: 270px;
      top: 10%;
    }
    .navbar {
      .navbar-brand {
        img {
          width: 50px;
          margin-right: 10px;
        }
        h2{
          font-size: 18px;
        }
      }

      .nav-link {
        font-size: 18px;
        font-weight: 600;
      }
    }

    .righte {
      margin-top: 30px;

      .kirish {
        display: block !important;
      }


    }
  }
}