$mainColor: #02A36D;


.tekshirish {
  position: relative;
  margin: auto;
  z-index: 10;
  width: 70% !important;
  margin-top: 50px!important;
  border: 2px solid $mainColor;
  padding: 50px!important;

}